.title{
    background-image: url(../images/diving/bg_diving.png);
}

.diving-list{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.diving-list img{
    padding-bottom: 10px;
}
